# Python garbage
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env/
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db


# firebase
firebase_service_account.json
